.gitignore~
.DS_Store
*.o
2/address_value_pointers.c
2/basic_pointers 
2/betrag 
2/gerade 
2/groesstezahl 
2/sortieren 
3/array1 
3/array2 
3/array3 
3/array4 
3/array5
4/abstand
4/punkte
5/conversion
6/airport


